<nav class="navbar">
  <div class="left">
    <h1>Logo</h1>
  </div>
  <div class="right">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/problem">The Problem</a></li>
    <li class="nav-item"><a href="/solution">The Solution</a></li>
    <li class="nav-item"><a href="/articles">Articles</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
  </div>
</nav>
